body {
    width: 100%;  
}

img {
    max-width: 100%;
}

.item_img {
    text-align: center;
}

.item_img img {
    width: 200px; /* 画像の幅を指定 */
    height: 200px; /* 画像の高さを指定 */
    object-fit: contain;
}


li {
    list-style-type: none;
}

.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
}


/* 
② カウント表示
*/

.hidden {
    display: none;
}


/*-------------------------------------------
ヘッダー
-------------------------------------------*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    color: #fff;
    background-color:#F0DECE;
    z-index: 100;
}

header .logo {
    width: 20%;
}

header nav {
    font-weight: bold;
    margin-left: 45%;
}

header ul {
    display: flex;
    padding: 10px 0;
}

header li {
    margin-left: 40px;
}

header a {
    text-decoration: none; /* テキストの下線を消す */
    color: black;
}

header .cart {
    position: relative;
    width: 30px;
    margin-right: 10px;
}

header .cart .cart_cnt {
    position: absolute;
    top: -4px;
    left: -12px;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2rem;
    border-radius: 50%;
    background-color: #fff;
    color: black;
}


/*-------------------------------------------
メインビジュアル
-------------------------------------------*/
.mainvisual {
    width: 100%; /* 幅を100%に設定 */
    padding-top: 55px;
}
  
.mainvisual img {
    width: 100%; /* 画像の幅を100%に設定 */
    height: 900px;
    object-fit: cover;
    display: block;
}

/*-------------------------------------------
プロフィール
-------------------------------------------*/
#profile {
    background-color: #F0DECE;
    padding-top: 100px; /* 上に余白を追加 */
    padding-bottom: 60px; /* 下に余白を追加 */
}

#profile .jam,.kotetsu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#profile img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 100px;
}

#profile .text {
    text-align: left;
}

#profile li {
    margin-bottom: 20px;
}

.content-title {
    font-size: 1.2rem;
    margin: 30px 0;
}


/*-------------------------------------------
Photo Shop
-------------------------------------------*/
#photoshop {
    padding-top: 100px; /* 上に余白を追加 */
}

.wrapper {
    padding-bottom: 60px;
    background-color: #F9F8F7;
}

.item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    position: relative;
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius: 3%;
}


.item_img img{
    width: 100%; /* 画像の幅を100%に設定 */
    height: auto; /* 画像の高さを自動調整 */
    object-fit: contain; /* 画像が収まるように調整 */
}

.item_textbox {
    display: flex;
    flex-direction: column; /* 子要素を縦に並べる */
    align-items: center; /* 子要素を横方向に中央揃え */
    justify-content: center; /* 子要素を縦方向に中央揃え */
    padding: 20px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none; /* 初期状態では非表示 */
}

.item:hover .item_textbox {
    display: flex; /* ホバー時に表示 */
}

.item_title {
    margin-right: 10px;
    color: #333132;
}

.item_price {
    text-align: left;
    font-size: 1.2rem;
    color: #333132;
}

.item_title_price {
    display: flex;
    justify-content: space-between;
}
  

.item_btnarea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
}

.item_cart_btn {
    font-size: 1.2rem;
    padding: 4px 1.2rem;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: #DDA268;
    cursor: pointer;
}

/* ③ カートボタンをクリックしたアクティブにする */
.item_cart_btn_active {
    background-color: #006F86;
}

/*-------------------------------------------
footer
-------------------------------------------*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
    background-color: #F0DECE;
}

footer p {
    font-weight: bold;
    font-size: 0.9rem;
}

footer ul {
    display: flex
}

footer li {
    padding-right: 15px;
}

footer img {
    width: 20px;
}


/*-------------------------------------------
レスポンシブ
-------------------------------------------*/
@media screen and (max-width: 1024px) {

    header .logo {
        width: 25%; /* ロゴの幅を25%に設定 */
    }

    .item_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .item {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    header .logo {
        width: 200px; /* ロゴの幅を30%に設定 */
    }

    .mainvisual img {
        width: 100%; /* 画像の幅を100%に設定 */
        height: auto; /* 高さを自動調整 */
        object-fit: cover; /* 画像をコンテナの大きさに合わせてカバー */
    }
}


@media screen and (max-width: 620px) {

    header .logo {
        width: 500px /* ロゴの幅を40%に設定 */
    }
    
    .item_list .item {
        width: calc(100% / 2);
    }

    #profile .content .jam, .kotetsu {
        flex-direction: column;
    }
}


@media screen and (max-width: 411px){

    header .logo {
        width: 40%; /* ロゴの幅を40%に設定 */
    }

    .item_buy_btn {
        font-size: 1.1rem;
    }

    .item_cart_btn {
        font-size: 0.9rem;
        height: 2.3rem;
        width: 50%;
    }
}

